@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}
:root {
  --primary-color: #075985;
  --dark-grey: #a8a29e;
  --off-white: #f3f4f6;
}
#lib-header{
    color: var(--primary-color);
}
.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-center {
  margin: auto;
  max-width:600px;
}
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.link-primary {
  background-color: var(--primary-color);
  border-radius: 50px;
  color: white;
}
.link-secondary {
  color: var(--primary-color);
  border-radius: 50px;
  border: 1px solid var(--primary-color);
}
hr {
  margin: 1.5rem 0rem;
}
.list-non-bullet {
  list-style-type: none;
}
.list-item-inline {
  display: inline;
  padding: 0.5rem;
}
/** Navigation **/
.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 1rem;
}
.navigation .link {
  color: white;
  padding:.5rem 1rem;/** making the pills look same when active**/
 
  border: solid 2px white;
  border-radius: 50px;
}
.navigation .nav-pills {
  text-align: right;
font-size: 0.8rem;
  
}
.navigation .nav-brand {
  font-weight: bold;
  font-size: 1.2rem;
}
.navigation .link-active {
 border: none;
  background-color:var(--off-white);
  color: var(--primary-color);
  padding:.6rem 1rem;/** making the pills look same when active**/
}

/**header**/

.hero {
  padding: 2rem 0rem;
  text-align: center;
}
.hero .hero-img {
  max-width: 300px;
  display: block;
  margin: auto;
}
.hero .hero-heading {
  padding-top: 1rem;
  color: var(--dark-grey);
  font-size: 200%;
  font-weight: 400;
}
.hero .hero-heading .hero-highlight {
  color: var(--primary-color);
  font-weight: 700;
}

/**Sections**/

.section {
  padding: 1rem 0rem;
}
.section h1 {
  text-align:center;
  font-size: x-large;
}
.section-ow {
  background-color: var(--off-white);
}
/**footer**/
.footer{
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
    color: white;
}
.footer .link{
    color: white;
    border: solid 2px white;
  border-radius: 50px;
 font-size: smaller
  
}
.footer .footer-header{
  font-weight: 400;
  font-size: large;
}
.footer ul {
    padding-inline-start:  0px;
}